.cardInner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    /* Sfondo semi-trasparente per effetto overlay */
    color: white;
    z-index: 2;
    opacity: 0;
    /* Nascosto inizialmente */
    transition: opacity 0.5s;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* Centrare verticalmente */
    align-items: flex-start;
    /* Centrare orizzontalmente */
}

.cardEffect:hover .cardInner {
    opacity: 1;
    /* Visibile all'hover */
}

.cardImg {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s;
    /* Aggiunge un effetto zoom all'immagine */
}

.flag {
    width: 50px;
}

.cardStar {
    color: gold;
}

.overview {
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.5;
    max-height: calc(1.5em * 5);
}